@model IEnumerable<Tournamental.Models.Tournament>

@{
    ViewBag.Title = "All tournaments list";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discipline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxParticipant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDeadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SponsorLogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RankedPlayers)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discipline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxParticipant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SponsorLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RankedPlayers)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
