@model PagedList.IPagedList<Tournamental.Models.Tournament>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "All tournaments list";
}

<h2>Index</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-warning">
        <strong>Error!</strong>
        @ViewBag.Message
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-lg" })
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Tournament name
        </th>
        <th>
            Discipline
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discipline)
            </td>
            <td>
                @Html.ActionLink("Sign on to participate", "Create", "Participant", new { tournamentID = item.Id }, null) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<hr />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))